# --- Environnements virtuels ---
venv/
.env
.env.*


# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.log


# --- FastAPI / Uvicorn ---
*.db
*.sqlite3


# --- ChromaDB / Vector DB ---
chroma/
chroma_db/
*.chroma
*.parquet


# --- Cache & build ---
build/
dist/
*.egg-info/
.eggs/
.cache/
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/


# --- VS Code ---
.vscode/
*.code-workspace


# --- OS files ---
.DS_Store
Thumbs.db


# --- Logs ---
logs/
*.log


# --- Docker  ---
docker-data/

/rag-env
/data
/chroma_data
/training